body {
    background-image: url("images/nyan-cat.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

* {
    color: white;
    font-size: 17px;
    font-family: 'Trebuchet MS';
}

.form-div {
    display: flex;
    justify-content: center;
}

input {
    color:black;
}

.mark-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

mark {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

label{
    text-align: center;
}

h1 {
    font-size: 35px;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-heading-div {
    display: flex;
    justify-content: center;
}

.button-submit {
    width: 210px;
    margin-top: 10px;
}